<h4 class="chattitle">simple chat window</h4>
<div class="chatroom flex-box">
    <section class="secleft flex-item flex-box-ver">
        <ul class="messagelist flex-item">
            <li class="ms-left">
                <div class="time">12:00</div>
                <div class="icon-user"></div>
                <span class="message">
                    <div class="username">nickname</div>
                    <div class="ms-info">fdsfffffffffffffffffffffffffffffffffffffffffffffffff</div>
                </span>
            </li>
            <li class="sys-info">
                <span>system info:fdfdfdfdfd</span>
            </li>
            <li class="ms-right">
                <div class="time">12:00</div>
                <span class="message">
                    <div class="username">nickname</div>
                    <div class="ms-info">fdsfffffffffffffffffffffffffffffffffffffffffffffffff</div>
                </span>
                <div class="icon-user"></div>
            </li>
        </ul>
        <section class="secbottom flex-item flex-box">
            <textarea class="textarea flex-item" placeholder="请输入消息:"></textarea>
            <input type="button" class="btn flex-item" value="send"/>
        </section>
    </section>
    <aside class="userlist flex-item">
        userlist
    </aside>
</div>