.chattitle{padding:0 2%;font-size:.5rem;color:#f-dark-gray;}
.chatroom{
    -webkit-align-items:flex-start;
    align-items:flex-start;
    font-size:.3rem;
    color:$f-gray;
    border-top:1px solid $f-gray;
    border-bottom:1px solid $f-gray;
    .userlist{
        padding:2%;
    }
    .secleft{
        flex:4;
        border-right:1px solid $f-gray;
        .messagelist{
            padding:2%;
            border-bottom:1px solid $f-gray;
            li{
                background:deepgreen;
                &.sys-info{
                    text-align:center;
                    span{
                        display:inline-block;
                        border-radius:0.1rem;
                        padding:3% 5%;
                        background:orange;
                        color:$f-dark-gray;
                        text-align:center;
                    }
                }
                .time{padding:2% 0;text-align:center;font-size:.2rem;color:$f-lighter-gray;}
                .message{
                    display:inline-block;
                    max-width:40%;
                    word-break:break-all;
                    vertical-align:text-top;
                    .username{padding:0 5% 5%;color:$f-gray;}
                    .ms-info{
                        padding:5%;
                        background:teal;
                        border-radius:0.1rem;
                        color:$base-white;
                    }
                }
            }
            .ms-left{text-align:left;margin-bottom:0.1rem;}
            .ms-right{text-align:right;margin-bottom:0.1rem;}
        }
        .secbottom{
            padding:2%;
            .textarea{
                flex:4;
                border:0;
                outline:none;
                height:.6rem;
                font-size:.3rem;
                color:$f-dark-gray;
            }
            .btn{
                -webkit-appearance:none;
                height:.5rem;
                line-height:.501rem;
                background:$bg-green;
                color:$base-white;
                border:0;
                outline:none;
                font-size:.3rem;
            }
        }
    }
}