.flex-box{
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-origin:horizontal;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;

  //jiaochazhou-align
  -webkit-align-items: center;
  align-items: center;
  //zhuzhoudduiqi
  -webkit-justify-content: center;
  justify-content: center;
  .flex-item{
    //dengfen
    -webkit-box-flex: 1;
    -webkit-flex:1;
    flex:1;
  }
}
.flex-box-ver{
  -webkit-origin:vertical;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  //jiaochazhou-align
  -webkit-align-items: center;
  align-items: center;
  //zhuzhoudduiqi
  -webkit-justify-content: center;
  justify-content: center;
}