@import "mixin";
.listview{
  width:100%;
  background:$base-white;
  color:$f-dark-gray;
  font-size: 0.3rem;
  border-bottom:1px solid $f-lightest-gray;
  .item{
    padding:.15rem;
    border-top:1px solid $f-lightest-gray;
    div,.secondlevel{
      display:none;
    }
  }
}
.listview.hasIcon{
  .item{
    .icon{
      display:inline;
      margin-right:.15rem;
    }
  }
}
.listview.hasArrow{
  .item{
    position:relative;
    .arrow{
      display:inline;
      position:absolute;
      right:.15rem;
      font-size:.4rem;
    }
    .secondlevel.active{
      display:block;
      width:100%;
      box-sizing: border-box;
      position:absolute;
      top:100%;
      left:0;
      right:0;
      margin:1px auto -1px;
      background:$base-white;
      border:1px solid $f-lightest-gray;
      border-top:0;
      border-bottom:0;
      z-index:2;
      .seconditem{
        padding-left:5%;
      }
      .seconditem:last-child{
        border-bottom:1px solid $f-lightest-gray;
      }
    }
  }
}